/* About Me Styling */

#my-Name {
    color: palevioletred;
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: white;
}

#about-Me {

    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: white;

}

#my-Title {

    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: white;

}

a #title {
    text-transform: capitalize;
}


.floating-link {
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: rgb(240, 135, 184);

}