/* About Me Styling */

#my-Name {
    font-weight: 400;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}


#my-Title {
    font-weight: 400;
    font-size: 1.4rem;
    color: #ffffff;
    margin-top: 0;
}

#my-Title, #my-Name {
    z-index: 1;
}

a #title {
    text-transform: capitalize;
}


.floating-link {
    font-weight: 400;
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
}

.floating-link:hover {
    color: black;
}

#github {
    transition: transform 0.5s;
    transform-origin: right center;
}
#github:hover {
    transform: scale(1.2) translateX(-5px);
}

#linkedin {
    transition: transform 0.5s;
    transform-origin: left center;
}
#linkedin:hover {
    transform: scale(1.2) translateX(5px);
}

#resume {
    transition: transform 0.5s;
    transform-origin: center bottom;
}
#resume:hover {
    transform: scale(1.2) translateY(-5px);
}

#location {
    transition: transform 0.5s;
    transform-origin: center top;
}
#location:hover {
    transform: scale(1.2) translateY(5px);
}
