#contact-text {
  margin-top: 1rem;
}

textarea {
  resize: none;
}

/* Modal container */
.modal {
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -30%);
  width: 30%; /* default for desktop */
  height: auto;
  border-radius: 10px;
  padding: 1.5rem; 
}

/* Tablet (≤ 768px) */
@media (max-width: 768px) {
  .modal {
    width: 60%;
    padding: 2rem;
  }
}

/* Mobile (≤ 480px) */
@media (max-width: 480px) {
  .modal {
    width: 90%;
    padding: 2rem;
  }
}
