/* Hero Styling */

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

.text-base {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: white;
}

.text-base:hover {
    color: rgb(255, 220, 24);
}

#navbar {
    padding-top: 10px;;
}