/* Hero Styling */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

#navbar {
  padding-top: 10px;
}

#navbar-items a {
  color: white;
  align-items: center;
  justify-content: center;
}

#navbar-items a:hover {
  color: rgb(255, 210, 85);
}



/* Mobilförst – text skalas uppåt för större skärmar */
.smallHeroText {
  font-weight: 100;
  font-size: 2rem;
  color: white;
  z-index: 1;
  padding-bottom: 2em;
}

@media (min-width: 380px) and (max-width: 1500px) {
  .sm-scope .sm-toggle {
    color: red;
  }
}


@media (min-width: 640px) {
  .smallHeroText {
    font-size: 3.5rem;
  }
}

@media (min-width: 768px) {
  .smallHeroText {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .smallHeroText {
    font-size: 4rem;
  }
}

