.card_Container {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.158);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: none;
    border-radius: 0;
  transition: all .2s ease-in-out; 

}


.card_Container:hover {
  transform: scale(0.9); 
  cursor: pointer;
  background-color: #ff359394;
}

#project_Title {
    font-size: 3rem;
    padding-bottom: 2rem;
    color: white;
}

#project_Name {
    font-size: 1.2rem;
    text-align: center;
    color: white;
    
}

#project_Desc {
    text-align: center;
    color: white;
}

.p-carousel .p-carousel-items-content {
    justify-content: center !important;
    display: flex !important;
    align-items: start;
}

.p-carousel .p-carousel-item {
    flex: 0 0 auto !important;
    padding: 0 0.5rem;
}

.p-carousel .p-carousel-container {
    overflow: visible !important;
}

.p-icon {
    color: white;
}

@media (max-width: 640px) {
  .p-carousel .p-carousel-item {
    flex: 0 0 100% !important; 
    justify-content: center;
  }

  .card_Container {
    width: 90vw; 
    margin: 0 auto;
  }

  .carousel-wrapper {
    padding: 0 0.5rem;
  }

  #project_Title {
    font-size: 2rem;
  }

  #project_Name {
    font-size: 1rem;
  }
}
